{% if page.layout == "home-infographic" and site.data.theme.featured-image %}
<style>
#home-banner {
    background-image: url('{% include image/featured-image.html %}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
}
@media screen and (max-width: 576px) {
    #home-title-box {
        max-height: 500px;
    }
}
</style>
</div>
{%- endif -%}
