<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand d-lg-none" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/img/lizzieiconsmaller.png' | relative_url }}" class="img-fluid" alt="Cut out icon of Lizzie holding two buckets.">
    </a>
<style> .navbar {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 42px
}
</style>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#LizzieNavBar" aria-controls="LizzieNavBar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="LizzieNavBar">
        <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if page.url contains 'browse.html' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'browse.html' | relative_url }}">Letters</a>
                </li>
                <li class="nav-item {% if page.url contains 'subjects.html' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'people.html' | relative_url }}">People</a>
                </li>
                <li class="nav-item {% if page.url contains 'subjects.html' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'subjects.html' | relative_url }}">Subjects</a>
                </li>
                <a class="navbar-brand px-5 d-none d-lg-block" href="{{ '/' | relative_url }}">
                    <img src="{{ '/assets/img/lizzieiconsmaller.png' | relative_url }}" class="img-fluid" alt="Cut out icon of Lizzie holding two buckets.">
                </a>
                <li class="nav-item {% if page.url contains 'timeline.html' %}active{% endif %}">
                    <a class="nav-link" href="{{ 'timeline.html' | relative_url }}">Timeline</a>
                </li>
                <li class="nav-item {% if page.url contains '/data/' %}active{% endif %}">
                    <a class="nav-link" href="{{ '/data.html' | relative_url }}">Data</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle{% if page.url contains 'about' %} active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item {% if page.url contains 'about-lizzie.html' %}active{% endif %}" href="{{ 'about-lizzie.html' | relative_url }}">Lizzie</a>
                        <a class="dropdown-item {% if page.url contains 'about.html' %}active{% endif %}" href="{{ 'about.html' | relative_url }}">This Project</a>
                    </div>
                </li>
        </ul>
    </div>

</nav>

